
body {
    background-color: #BCBFA4;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

.row{
    background-color: #f5eee3;
}

.h1{
    font-family: 'Alkatra', cursive;
}
